<body class="bg-dark">

        <main class="d-flex align-items-center justify-content-center mt-5">
            <div class="container text-white text-center mt-5 bg-dark bg-gradient">
                <h1 class="display-4 mt-5"><strong>¡Bienvenidos a la app!</strong> </h1>
            </div>
        </main>>

</body>