.table {
    
    margin-top: 15px;
    font-size: 22px;
    box-shadow: 11px 10px 9px -3px rgba(0,0,0,0.75);
}

#btn-add
{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10%;
    
    
}

#btn-delete
{
    font-size: 20px;
    margin-left: 30px;
}
#btn-edit
{
    font-size: 20px;
    
}