@{
    ViewBag.Title = "Inicio";
}
@*<body class="bg-dark">
        <main class="d-flex align-items-center justify-content-center mt-5">
            <div class="container text-white text-center mt-5 bg-dark bg-gradient">
                <h1 class="display-4 mt-5"><strong>¡Bienvenidos a la app!</strong> </h1>
                <p class="lead mt-5"><strong>Este es un sencillo ABMC que utliza la entidad 'Categories'</strong></p>
                <a class="btn btn-primary btn-lg mt-5" href="@Url.Action("Index", "Categories")" role="button">Ver categorías</a>
                <a class="btn btn-primary btn-lg mt-5" href="@Url.Action("Index", "TheDogAPI")" role="button">The Dog API</a>

            </div>

        </main>>

    </body>*@
<body class="bg-dark">
    <main class="d-flex align-items-center justify-content-center mt-5">
        <div class="container text-white text-center mt-5 bg-dark bg-gradient">
            <h1 class="display-4 mt-5"><strong>¡Bienvenidos a la app!</strong> </h1>
            

            <div class="row mt-5">
                <div class="col-sm-6">
                    <div class="card bg-dark bg-gradient">
                        <div class="card-body">
                            <h5 class="card-title">Categorías</h5>
                            <p class="card-text">Se muestra un ABMC de la entidad 'Categories'</p>
                            <a class="btn btn-primary" href="@Url.Action("Index", "Categories")" role="button">Ir a Categorías</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card bg-dark bg-gradient">
                        <div class="card-body">
                            <h5 class="card-title">The Dog API</h5>
                            <p class="card-text">Se consume una API pública la cual muestra imágenes aleatorias de perros</p>
                            <a class="btn btn-primary" href="@Url.Action("Index", "TheDogAPI")" role="button">Ir a The Dog API</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>


